/*
======== google fonts */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    width: 1200px;
    margin: 0 auto;
}

/* ===========banner part start========= */


.banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
    height: 100vh;

}
.banner_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.banner_right{
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner_content{
    color: #3A3A3A;
}
.ban_title{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 10px;

}
.banner_content p{
    font-size: 16px;
    line-height: 2;
}
.banner_button{
    background-color: rgba(230, 59, 29, 0.911);
    color: white;
    padding: 10px 25px;
    border: 3px solid rgba(230, 59, 29, 0.911);
    border-radius: 20px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.banner_button:hover{
    background-color: transparent;
    color: tomato;
    
}
.right_arrow{
    margin-left: 10px;
}
.ban_img{
    height: 400px;
    width: 400px;
    position: relative;
    border: 2px solid rgb(167, 155, 155);
    border-radius: 50%;
}
.ban_img img{
    position: absolute;

    width: 100%;
    right: 0;
    top: 0;
    animation: zoom_in_out 3s linear 0.5s infinite;
}
@keyframes zoom_in_out {
    0%{
        width: 100%;
    }
    10%{
        width: 98%;
    }
    20%{
        width: 95%;
    }
    30%{
        width: 92%;
    }
    40%{
        width: 89%;
    }
    50%{
width: 85%;
    }
    60%{
        width: 88%;
    }
    70%{
        width: 91%;
    }
    80%{
        width: 94%;
    }
    90%{
        width: 97%;
    }
    100%{
        width: 100%;
    }
}

/* -==================banner part end-================= */

/* ====================Popular part start============== */
.popular_contain{
overflow: hidden;
}

.popular_title{
    text-align: center;
    color: #3A3A3A;
    font-size: 30px;
    margin: 70px 0;
    position: relative;
}
.popular_title:before {
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    left: 299px;
    bottom: 18px;
    background-color: gray;
}
.popular_title:after {
    position: absolute;
    content: '';
    height: 3px;
    width: 150px;
    right: 299px;
    bottom: 18px;
    background-color: gray;
}
.popular_gallery{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.photo{
    box-shadow: 0px 0px 20px 0px gray;
    padding: 18px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;

}
.photo:hover{
    box-shadow: 0px 0px 15px 10px gray;
}
.photo_img img{
    width: 100%;
}
.device_name{
    color: #18191F;
    font-size: 28px;
}
.device_price{
    font-size: 24px;
}
.rating{
    display: flex;
    align-items: center;
}
.rating i{
    color: #FB8200;
    font-size: 14px;
}
.rating p, .shifting{
    color: gray;
}
.rating p{
    margin-left: 10px;
    font-size: 15px;
}
.see_more{
    color: rgba(230, 59, 29, 0.911);
    font-size: 20px;
    text-align: end;
    margin: 20px 0;
}
/* ================Contact part-----------============== */

.container_flex{
    display: flex;
    padding: 30px 0;
}
.contact_part{
     flex: 1.2;
    align-items: center;
    line-height: 2;
}
.message_part{
    flex: 1.8;
}
.contact_us{
    margin-bottom: 15px;
}
.contact i{
    color: gray;
    margin-right: 15px;
}
.contact h3{
    padding: 10px 0;
}
.contact p{
    color: rgb(87, 80, 80);
}
input{
    height: 40px;
    width: 400px;  
}
.message p{
padding-top: 20px;  
  color: rgb(87, 80, 80);
  font-size: 18px;
}
#send{
    border-radius: 5px;
}

/* ===============footer part start================ */
footer{
    background-color: #0A0826;
}
.footer_content{
    
    padding: 30px;
    text-align: center;
    line-height: 2;
}
.footer_title{
    color: white;
}
.footer_content p{
    color: rgba(245, 245, 245, 0.863);
}
.icon{
    font-size: 20px;
    color: whitesmoke;
    margin-top: 10px;
}
.icon i{
    padding: 10px;
    border-radius: 50%;
    background-color: rgb(61, 53, 53);
    margin: 0 10px;
    cursor: pointer;
}
.icon i:hover{
    color: rgb(240, 152, 12);
    background-color: whitesmoke;
}

/* ------------media query------------- */

/* ==========mobile Phone============ */
@media only screen and (max-width:480px) {
    .container{
        width: 100%;        
    }
    .banner{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        height: fit-content;
    }
    .banner_left{
        padding: 15px 10px;
    }
    
    .ban_img{
        margin: 15px 0;
       width: 100%;
       height: 350px;

    }

.ban_title{
    font-size: 32px;
}
.popular_gallery {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
}
.popular_title {
    text-align: center;
    color: #3A3A3A;
    font-size: 24px;
    margin: 30px 0;
}
.container_flex {
    display: flex;
    padding: 30px 10px;
    flex-wrap: wrap;
}
.contact_us{
    font-size: 30px;
    margin-top: 10px;
}
input {
    height: 35px;
    max-width: 335px;
}

}

/* ================tablet device============= */


